.defense-dice {
  text-shadow: -1px 0 darkgrey, 0 1px darkgrey, 1px 0 darkgrey, 0 -1px darkgrey;
}

#contents {
//    background-color: ForestGreen;
}

.skill-dice {
  color: #777777;
}

.name_box {
    font-family: Herculanum;
}

.logged {
    display: none;
}

.anonymous {
}