<div class="row">
                <div class="col-lg-7 col-md-12">
                    <div class="thumbnail">
                        <img src="/images/800x600.png" alt="Characters Picture" id="image">
                    </div>
                </div>
                <div class="col-lg-3 col-md-10">
                    {% include character/bonus.html %}
                </div>
                <div class="col-lg-2 col-md-2">
                    {% include character/skills.html %}
                    {% include character/equipment_level.html %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-8">
                    <h3 class="name_box">
                         <span id="name" class="sr-text">Charactere Name</span> [ <span id="class" class="sr-text">Character class</span> ]
                    </h3>
                </div>
                <div class="col-lg-6 col-md-4">
                    {% include character/attributes.html %}
                </div>
            </div>
            </div>
        </div>
    </div>