<html>
    {% include shadowrun-boardgame/cards/head.html %}
    <body>
        <div class="container-fluid">
            {% include common/navigation-bar.html %}
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="col-md-2 sidebar hidden-print">
                        {% include shadowrun-boardgame/cards/sidebar.html %}
                    </div>
                    <div class="col-md-10">
                        <nav class="hidden-print">
                              <ul class="pager">
                                <li class="previous"><a href="#" onClick="previous()"><span aria-hidden="true">&larr;</span></a></li>
                                <li class="next"><a href="#"  onClick="next()"><span aria-hidden="true">&rarr;</span></a></li>
                              </ul>
                        </nav>
                        <div class="container" id="contents">
                            {% include shadowrun-boardgame/cards/sheets.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include shadowrun-boardgame/cards/modal.html %}
    </body>
</html>