<html>
    {% include shadowrun-boardgame/character/head.html %}
    <body>
        <div class="container-fluid">
            {% include common/navigation-bar.html %}
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="col-md-2 sidebar hidden-print">
                        {% include shadowrun-boardgame/character/sidebar.html %}
                    </div>
                    <div class="col-md-10">
                        <div class="container" id="contents">
                            {% include shadowrun-boardgame/character/sheet.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>