<!-- Modal -->
<div class="modal fade" id="actions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actionsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="actionsLabel">Combat Actions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Free Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Call a Shot
            </strong>
            <small>
              A character may “call a shot” (aim for a vulnerable portion of a target)
              with this Free Action. See Called Shots, p. 161. This action must be
              immediately followed by a Take Aim, Fire Weapon, Throw Weapon,
              or Melee Unarmed Attack.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Change Linked Device Mode
            </strong>
            <small>
              A character may use a Free Action to activate, deactivate, or switch the
              mode on any device that he is linked to either by a direct neural inter-
              face or by wireless link. This includes activating cyberware, changing a
              smartgun’s firing mode, deactivating thermographic vision, switching
              a commlink to hidden mode, turning a device’s wireless functionality
              off, and so on. Note that it takes longer to interact with some devices,
              as noted in individual gear descriptions.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Drop Object
            </strong>
            <small>
              A character may drop a held object as a Free Action. If he is holding an
              object in each hand, he may drop both objects as a single Free Action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
            Drop Prone
            </strong>
            <small>
              A character may kneel or drop prone at any time, as long as he is not
              surprised (see Surprise, p. 165). A character who is surprised may not
              drop prone.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Eject Smatgun Clip
            </strong>
            <small>
              A character linked to and holding a ready smartgun may use a mental
              command to eject the weapon’s clip. It still takes a Simple Action to
              insert a new, fresh clip. See Smartgun System, p. 322.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Gesture
            </strong>
            <small>
              A character may execute one gesture as a Free Action. (However lu-
              dicrous this may sound, it pertains primarily to the use of gestures as
              silent communication in combat situations.)
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Intercept
            </strong>
            <small>
            A character may spend an available Free Action to intercept an op-
            ponent who attempts to move past him or break out of melee combat
            (see Interception, p. 161).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Run
            </strong>
            <small>
              Running uses a Free Action and inflicts Running movement modifi-
              ers. Running is considered to be any movement over the character’s
              Walking Rate (see Movement, p. 148).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Speak/Text Phrase
            </strong>
            <small>
              Speaking one phrase or sentence of verbal communication is a Free
              Action. If the character wants to speak more, each additional phrase/
              sentence requires a Free Action. The gamemaster should be careful
              to control excessive, unrealistic conversations within the span of a
              Combat Turn (about 3 seconds). Some gamemasters and players may,
              however, prefer elaborate communication.
              Characters who are equipped to send text messages through a
              neural connection with their commlink may also send short messages
              as a Free Action.
            </small>
          </li>
        </ul>
        <h3>Simple Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Change Gun Mode
            </strong>
            <small>
              A character holding a ready firearm can change its firing mode via a Simple Action. If the weapon
              is a properly linked smartgun, it takes only a Free Action to change the mode. See Firearms, p. 153,
              and Smartgun Systems, p. 322. This includes changing a shotgun’s choke if the gun does not have
              a smartgun link. See Shotguns, p. 154.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Fire Weapon
            </strong>
            <small>
                A character may fire a ready firearm in single-shot, semi-automatic, or burst-fire mode via a Simple
                Action (See Firearms, p. 153). If a character has one weapon in each hand, he may fire once with
                each weapon by expending one Simple Action (see Attacker Using a Second Firearm, p. 150). Note
                that single-shot weapons may be fired only once per Action Phase. Likewise, only one long burst
                may be fired in each Action Phase.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Insert Clip
            </strong>
            <small>
                A character may insert a fresh clip into a ready firearm by taking a Simple Action, but only if he has
                first removed the previous clip. See the Simple Action of Remove Clip, below, and also Reloading
                Firearms, p. 324.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Observe in Detail
            </strong>
            <small>
                A character may make a detailed observation by taking a Simple Action. This allows a Perception
                Test (see Using Perception, p. 135).
                Note that characters should always be able to observe what is immediately obvious (gamemaster’s
                discretion, keeping in mind any perception enhancements the character may have) without having
                to spend a Simple Action and make a Perception Test. For example, a character might automatically
                be aware that someone is running toward him with a gun in hand; however, the gamemaster may
                decide that the character cannot tell if it is a friend or foe without taking an Observe in Detail action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Pick Up/Put Down Object
            </strong>
            <small>
                A character may pick up an object within reach or put down one that he was holding by expending
                a Simple Action (note that just dropping an object is a Free Action).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Quick Draw
            </strong>
            <small>
                A character may attempt to quick-draw a pistol or pistol-sized weapon and immediately fire it by
                expending a Quick Draw action. For the character to successfully draw the weapon, the player
                must make a Pistols + Reaction (3) Test. If the pistol is held in a quick-draw holster (see p. 322),
                reduce the threshold to 2. If the test is successful, the character draws the pistol and fires as a single
                Quick Draw Simple Action. If the test fails, he clears the gun but cannot fire with the same Simple
                Action. If he glitches, the gun is stuck in the holster or dropped. On a critical glitch, it is flung
                across the room or misfired while still in the holster.
                Only weapons that can be fired with a Simple Action can be quick-drawn. Two weapons may
                be quick-drawn and fired simultaneously, but this raises the threshold on the Pistols + Reaction
                Test to 4 (see Attacker Using a Second Firearm, p. 150). A separate Pistols + Reaction (4) Test is
                required for each pistol (threshold 3 if they are held in quick-draw holsters).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Ready Weapon
            </strong>
            <small>
                A character may ready a weapon by spending a Simple Action. The weapon may be a firearm, melee
                weapon, throwing weapon, ranged weapon, or mounted or vehicular weapon. Readying entails
                drawing a firearm from a holster, drawing a throwing or melee weapon from a sheath, picking up
                any kind of weapon, nocking an arrow in a bow, or generally preparing any kind of weapon for use.
                A weapon must be ready before it can be used.
                A character can ready a number of small throwing weapons, such as throwing knives or
                shuriken, equal to one-half his Agility (round down) per Ready Weapon action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Remove Clip
            </strong>
            <small>
                A character may remove a clip from a ready firearm by taking a Simple
                Action. See Insert Clip, p. 147, and also Reload Firearm, at right. It takes
                another Simple Action to grab a fresh clip and slam it into the weapon.
                The wielder of a linked smartgun may eject the gun’s clip by
                spending a Free Action to make a mental command. See Smartgun
                System, p. 322.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Sprint
            </strong>
            <small>
                Sprinting allows a character to increase his Running rate by using a
                Simple Action and making a Running Test (see Movement, p. 148).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Stand Up
            </strong>
            <small>
                Using a Simple Action, a character who is lying down or prone may
                stand up. If the character is wounded and attempting to stand up, he
                needs to succeed in a Body + Willpower (2) Test to do so (wound
                modifiers apply to this test).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Take Aim
            </strong>
            <small>
                A character may take aim with a ready ranged weapon (firearm, bow, or
                throwing weapon) as a Simple Action. Take Aim actions are cumula-
                tive, but the benefits are lost if the character takes any other kind of
                action—including a Free Action—at any time. Take Aim actions may
                be extended over multiple Action Phases and Initiative Passes, even
                from Combat Turn to Combat Turn. The maximum number of se-
                quential Take Aim actions a character may take is equal to one-half the
                character’s skill with that weapon, rounded down.
                Each Take Aim action applies a +1 dice pool modifier to the Attack Test.
                Take Aim may also be used to line up a shot using an image mag-
                nification system (see p. 150); in this case the +1 Take Aim bonus does
                not apply (but range modifiers are neutralized).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Throw Weapon
            </strong>
            <small>
                A character may throw a ready throwing weapon (see Ready Weapon, p.
                147) by taking a Simple Action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Use Simple Object
            </strong>
            <small>
                A character may use a simple object by taking a Simple Action. In
                this case, “simple” is defined as a device or mechanism that can be
                operated via a simple activity such as pushing a button, turning a
                knob (doors must be unlocked to be opened with a Simple Action),
                pulling a lever, and so on. The gamemaster must decide on a case-by-
                case basis if a device or mechanism is simple or complex. A character
                can also use objects such as pills, skillsofts, or slap patches by taking
                a Simple Action.
            </small>
          </li>
        </ul>
        <h3>Complex Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Fire Automatic Weapon
            </strong>
            <small>
              A character may fire a ready firearm in full autofire mode by taking a
              Complex Action. See Firearms, p. 153.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Fire Mounted or Vehicle Weapon
            </strong>
            <small>
              A character may fire a ready mounted or vehicle weapon by taking a
              Complex Action. See Vehicle Combat, p. 167.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Full Defense
            </strong>
            <small>
              A character may choose to dedicate his attention to avoiding incoming
              attacks as a Complex Action (see Full Defense, p. 160). Note that full
              defense actions may be taken at any time, even before the character’s
              Action Phase as an interrupt action, as long as the character is not sur-
              prised—but it uses up the character’s next available action. Characters
              may go on full defense even if they don’t have an action that pass, sac-
              rificing their first action of the next Combat Turn instead (but only
              the first).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Melee or Unarmed Attack
            </strong>
            <small>
              A character may make a melee or unarmed attack by taking a Complex
              Action (see Melee Combat, p. 156). A character may also attack mul-
              tiple targets within melee range with a single Complex Action (see
              Multiple Targets, p. 152).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Reload Firearm
            </strong>
            <small>
              Weapons that do not use clips must be reloaded using a Complex
              Action (see Reloading Firearms, p. 324).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Use Complex Object
            </strong>
            <small>
              A character may operate a complex object, such as a computer, vehicle,
              mechanical tool, and so on, by taking a Complex Action. “Use” entails
              activating a program, issuing detailed instructions, conducting an in-
              ternal operation (such as copying files), driving the vehicle, and so on.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Use Skill
            </strong>
            <small>
              A character may use an appropriate skill by taking a Complex Action
              (see Using Skills, p. 118).
            </small>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>