<!-- Modal -->
<div class="modal fade" id="actions" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="actionsLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="actionsLabel">Actions de Combat</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Actions Libres</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Tir ciblé
            </strong>
            <small>
              Un personnage peut « cibler un tir » (viser une partie vulnérable d'une cible)
              avec cette Action Libre. Voir Tirs ciblés, p. 161. Cette action doit être
              immédiatement suivie d'un Visée, Tir d'arme, Lancer d'arme,
              ou Attaque à mains nues.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Changer le mode d'un appareil lié
            </strong>
            <small>
              Un personnage peut utiliser une Action Libre pour activer, désactiver ou changer
              le mode de tout appareil auquel il est lié, soit par une interface neurale directe
              soit par liaison sans fil. Cela inclut l'activation de cyberware, le changement du
              mode de tir d'une smartgun, la désactivation de la vision thermographique, le
              passage d'un commlink en mode caché, la désactivation de la fonctionnalité sans fil
              d'un appareil, etc. Notez que certaines interactions avec des appareils prennent
              plus de temps, comme indiqué dans les descriptions individuelles du matériel.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Lâcher un objet
            </strong>
            <small>
              Un personnage peut lâcher un objet tenu comme une Action Libre. S'il tient
              un objet dans chaque main, il peut lâcher les deux objets en une seule Action Libre.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
            Se mettre à genoux ou à terre
            </strong>
            <small>
              Un personnage peut s'agenouiller ou se mettre à terre à tout moment, tant qu'il
              n'est pas surpris (voir Surprise, p. 165). Un personnage surpris ne peut pas
              se mettre à terre.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Éjecter le chargeur d'une smartgun
            </strong>
            <small>
              Un personnage lié à une smartgun prête peut utiliser une commande mentale pour
              éjecter le chargeur de l'arme. Il faut toujours une Action Simple pour insérer
              un nouveau chargeur. Voir Système Smartgun, p. 322.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Geste
            </strong>
            <small>
              Un personnage peut exécuter un geste comme une Action Libre. (Bien que cela
              puisse sembler ridicule, cela concerne principalement l'utilisation de gestes comme
              communication silencieuse dans des situations de combat.)
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Intercepter
            </strong>
            <small>
            Un personnage peut utiliser une Action Libre disponible pour intercepter un
            adversaire qui tente de passer à côté de lui ou de sortir du combat rapproché
            (voir Interception, p. 161).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Courir
            </strong>
            <small>
              Courir utilise une Action Libre et inflige des modificateurs de mouvement de course.
              Courir est considéré comme tout mouvement dépassant la Vitesse de marche du
              personnage (voir Mouvement, p. 148).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Parler/Envoyer un message texte
            </strong>
            <small>
              Prononcer une phrase ou une phrase de communication verbale est une Action Libre.
              Si le personnage veut parler davantage, chaque phrase ou phrase supplémentaire
              nécessite une Action Libre. Le maître de jeu doit être prudent pour contrôler
              les conversations excessives et irréalistes dans le cadre d'un Tour de Combat
              (environ 3 secondes). Certains maîtres de jeu et joueurs peuvent cependant
              préférer des communications élaborées.
              Les personnages équipés pour envoyer des messages texte via une connexion
              neurale avec leur commlink peuvent également envoyer de courts messages
              comme une Action Libre.
            </small>
          </li>
        </ul>
        <h3>Actions Simples</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Changer le mode de tir
            </strong>
            <small>
              Un personnage tenant une arme à feu prête peut changer son mode de tir via une Action Simple. Si l'arme
              est une smartgun correctement liée, il ne faut qu'une Action Libre pour changer le mode. Voir Armes à feu, p. 153,
              et Systèmes Smartgun, p. 322. Cela inclut le changement du choke d'un fusil à pompe si l'arme n'a pas
              de liaison smartgun. Voir Fusils à pompe, p. 154.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Tirer avec une arme
            </strong>
            <small>
                Un personnage peut tirer avec une arme à feu prête en mode coup par coup, semi-automatique ou rafale via une Action Simple
                (Voir Armes à feu, p. 153). Si un personnage a une arme dans chaque main, il peut tirer une fois avec
                chaque arme en dépensant une Action Simple (voir Attaquant utilisant une seconde arme à feu, p. 150). Notez
                que les armes à coup unique ne peuvent être tirées qu'une fois par Phase d'Action. De même, une seule longue rafale
                peut être tirée dans chaque Phase d'Action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Insérer un chargeur
            </strong>
            <small>
                Un personnage peut insérer un nouveau chargeur dans une arme à feu prête en prenant une Action Simple, mais seulement s'il a
                d'abord retiré le chargeur précédent. Voir l'Action Simple Retirer le chargeur, ci-dessous, et aussi Rechargement
                des armes à feu, p. 324.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Observer en détail
            </strong>
            <small>
                Un personnage peut faire une observation détaillée en prenant une Action Simple. Cela permet un Test de
                Perception (voir Utilisation de la Perception, p. 135).
                Notez que les personnages devraient toujours pouvoir observer ce qui est immédiatement évident (à la discrétion du
                maître de jeu, en gardant à l'esprit les améliorations de perception que le personnage peut avoir) sans avoir
                à dépenser une Action Simple et faire un Test de Perception. Par exemple, un personnage pourrait automatiquement
                être conscient que quelqu'un court vers lui avec une arme à la main; cependant, le maître de jeu peut
                décider que le personnage ne peut pas dire si c'est un ami ou un ennemi sans prendre une action Observer en détail.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Ramasser/Poser un objet
            </strong>
            <small>
                Un personnage peut ramasser un objet à portée de main ou poser un objet qu'il tenait en dépensant
                une Action Simple (notez que simplement lâcher un objet est une Action Libre).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Dégainage rapide
            </strong>
            <small>
                Un personnage peut tenter de dégainer rapidement un pistolet ou une arme de taille pistolet et tirer immédiatement en
                dépensant une action de Dégainage rapide. Pour que le personnage dégaine l'arme avec succès, le joueur
                doit faire un Test de Pistolets + Réaction (3). Si le pistolet est tenu dans un étui de dégainage rapide (voir p. 322),
                réduisez le seuil à 2. Si le test est réussi, le personnage dégaine le pistolet et tire en une seule
                Action Simple de Dégainage rapide. Si le test échoue, il sort l'arme mais ne peut pas tirer avec la même Action Simple.
                S'il fait un échec, l'arme reste coincée dans l'étui ou tombe. En cas d'échec critique, elle est projetée
                à travers la pièce ou fait un tir accidentel alors qu'elle est encore dans l'étui.
                Seules les armes qui peuvent être tirées avec une Action Simple peuvent être dégainées rapidement. Deux armes peuvent
                être dégainées rapidement et tirées simultanément, mais cela augmente le seuil du Test de Pistolets + Réaction
                à 4 (voir Attaquant utilisant une seconde arme à feu, p. 150). Un Test séparé de Pistolets + Réaction (4) est
                requis pour chaque pistolet (seuil 3 s'ils sont tenus dans des étuis de dégainage rapide).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Préparer une arme
            </strong>
            <small>
                Un personnage peut préparer une arme en dépensant une Action Simple. L'arme peut être une arme à feu, une arme de mêlée,
                une arme de jet, une arme à distance, ou une arme montée ou véhiculaire. Préparer une arme implique
                de sortir une arme à feu d'un étui, de sortir une arme de jet ou de mêlée d'un fourreau, de ramasser
                n'importe quel type d'arme, d'encocher une flèche dans un arc, ou généralement de préparer n'importe quel type d'arme pour l'utilisation.
                Une arme doit être prête avant de pouvoir être utilisée.
                Un personnage peut préparer un nombre de petites armes de jet, comme des couteaux de lancer ou
                des shuriken, égal à la moitié de son Agilité (arrondi vers le bas) par action Préparer une arme.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Retirer le chargeur
            </strong>
            <small>
                Un personnage peut retirer un chargeur d'une arme à feu prête en prenant une Action Simple.
                Voir Insérer un chargeur, p. 147, et aussi Recharger une arme à feu, à droite. Il faut
                une autre Action Simple pour attraper un nouveau chargeur et l'insérer dans l'arme.
                Le porteur d'une smartgun liée peut éjecter le chargeur de l'arme en
                dépensant une Action Libre pour donner une commande mentale. Voir Système Smartgun,
                p. 322.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Sprint
            </strong>
            <small>
                Le sprint permet à un personnage d'augmenter sa vitesse de course en utilisant une
                Action Simple et en faisant un Test de Course (voir Mouvement, p. 148).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Se lever
            </strong>
            <small>
                En utilisant une Action Simple, un personnage qui est allongé ou à terre peut
                se lever. Si le personnage est blessé et tente de se lever, il
                doit réussir un Test de Corps + Volonté (2) pour le faire (les modificateurs de blessure
                s'appliquent à ce test).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Visée
            </strong>
            <small>
                Un personnage peut prendre une visée avec une arme à distance prête (arme à feu, arc, ou
                arme de jet) comme une Action Simple. Les actions de Visée sont cumulatives, mais les avantages sont perdus si le personnage prend
                n'importe quel autre type d'action—y compris une Action Libre—à n'importe quel moment. Les actions de Visée peuvent
                être étendues sur plusieurs Phases d'Action et Passes d'Initiative, même
                d'un Tour de Combat à l'autre. Le nombre maximum d'actions de Visée séquentielles
                qu'un personnage peut prendre est égal à la moitié de la compétence du personnage avec cette arme, arrondi vers le bas.
                Chaque action de Visée applique un modificateur de +1 au pool de dés pour le Test d'Attaque.
                La Visée peut également être utilisée pour aligner un tir en utilisant un système de magnification d'image (voir p. 150); dans ce cas, le bonus de +1 de la Visée ne s'applique pas
                (mais les modificateurs de portée sont neutralisés).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Lancer une arme
            </strong>
            <small>
                Un personnage peut lancer une arme de jet prête (voir Préparer une arme, p.
                147) en prenant une Action Simple.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
                Utiliser un objet simple
            </strong>
            <small>
                Un personnage peut utiliser un objet simple en prenant une Action Simple. Dans
                ce cas, « simple » est défini comme un appareil ou un mécanisme qui peut être
                actionné via une activité simple comme appuyer sur un bouton, tourner un
                bouton (les portes doivent être déverrouillées pour être ouvertes avec une Action Simple),
                tirer un levier, etc. Le maître de jeu doit décider au cas par cas si un appareil ou un mécanisme
                est simple ou complexe. Un personnage peut également utiliser des objets tels que des pilules,
                des skillsofts ou des patchs à appliquer en prenant une Action Simple.
            </small>
          </li>
        </ul>
        <h3>Actions Complexes</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Tirer avec une arme automatique
            </strong>
            <small>
              Un personnage peut tirer avec une arme à feu prête en mode rafale complète en prenant une
              Action Complexe. Voir Armes à feu, p. 153.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Tirer avec une arme montée ou véhiculaire
            </strong>
            <small>
              Un personnage peut tirer avec une arme montée ou véhiculaire prête en prenant une
              Action Complexe. Voir Combat Véhiculaire, p. 167.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Défense totale
            </strong>
            <small>
              Un personnage peut choisir de consacrer toute son attention à éviter les attaques entrantes
              comme une Action Complexe (voir Défense Totale, p. 160). Notez que les actions de défense totale
              peuvent être prises à n'importe quel moment, même avant la Phase d'Action du personnage comme une
              action d'interruption, tant que le personnage n'est pas surpris—mais cela utilise l'action suivante disponible
              du personnage. Les personnages peuvent adopter une défense totale même s'ils n'ont pas d'action ce tour,
              sacrifiant leur première action du prochain Tour de Combat à la place (mais seulement la première).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Attaque de mêlée ou à mains nues
            </strong>
            <small>
              Un personnage peut faire une attaque de mêlée ou à mains nues en prenant une Action Complexe
              (voir Combat de Mêlée, p. 156). Un personnage peut également attaquer plusieurs cibles
              à portée de mêlée avec une seule Action Complexe (voir Cibles Multiples, p. 152).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Recharger une arme à feu
            </strong>
            <small>
              Les armes qui n'utilisent pas de chargeurs doivent être rechargées en utilisant une Action Complexe
              (voir Rechargement des armes à feu, p. 324).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Utiliser un objet complexe
            </strong>
            <small>
              Un personnage peut utiliser un objet complexe, comme un ordinateur, un véhicule,
              un outil mécanique, etc., en prenant une Action Complexe. « Utiliser » implique
              l'activation d'un programme, l'émission d'instructions détaillées, la réalisation d'une
              opération interne (comme la copie de fichiers), la conduite du véhicule, etc.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Utiliser une compétence
            </strong>
            <small>
              Un personnage peut utiliser une compétence appropriée en prenant une Action Complexe
              (voir Utilisation des Compétences, p. 118).
            </small>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>