<!-- Modal -->
<div class="modal fade" id="astral" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="astralLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="astralLabel">Actions Astrales</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Actions Libres</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Centrage
            </strong>
            <small>
              Un initié peut effectuer une action de Centrage pour se concentrer et bloquer les distractions
              afin de mieux résister au Drain. Voir Centrage, p. 198.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Désactiver un foyer
            </strong>
            <small>
              Un personnage Éveillé peut désactiver un foyer qui lui est lié en tant qu'action
              libre, éteignant le foyer. Voir Foyers, p. 199.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Déclarer une protection de contre-sort
            </strong>
            <small>
              Un magicien qui souhaite protéger les autres avec
              le Contre-sort (p. 185) doit dépenser une Action Libre et la déclarer à l'avance (un magicien
              n'a jamais besoin de déclarer qu'il utilise le Contre-sort sur lui-même).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Lâcher un sort maintenu
            </strong>
            <small>
              Un magicien peut lâcher un sort maintenu en tant qu'Action Libre. 
           </small>
          </li>
        </ul>
        <h3>Actions Simples</h3>
        <ul>
          <li>
            <strong class="text-{{ theme_color }}">
              Activer un foyer
            </strong>
            <small>
              Un personnage Éveillé peut effectuer une Action Simple pour activer un foyer qui est
              lié à lui. Notez que l'activation d'un foyer de maintien nécessite que le magicien lance un
              sort et est donc une Action Complexe. Voir Activation, p. 199.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Appeler un esprit
            </strong>
            <small>
              Un magicien peut utiliser une Action Simple pour appeler un esprit qui a été précédemment
              conjured and placed on “standby.” Voir Invocation, p. 186. More than one bound spirit
              peut être appelé à la fois avec la même Action Simple s'ils sont tous du même type (esprits de feu
              par exemple). Voir Lien, p. 188.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Commander un esprit
            </strong>
            <small>
              En utilisant une Action Simple, un magicien peut donner un ordre à un esprit
              sous son contrôle. Plus d'un esprit peut être commandé de cette manière s'ils sont
              tous donnés le même ordre. Voir Invocation, p. 186.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Renvoyer un esprit
            </strong>
            <small>
              Un magicien peut utiliser une Action Simple pour envoyer un esprit invoqué en "attente".
              by.” Voir Invocation, p. 186.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Changer de perception
            </strong>
            <small>
              : Une Action Simple permet à un magicien de changer de perception vers ou depuis le plan astral.
              La projection astrale réelle nécessite une Action Complexe. Voir Perception Astrale, p. 191.
            </small>
          </li>
        </ul>
        <h3>Actions Complexes</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Projection astrale
            </strong>
            <small>
              Un magicien peut projeter son esprit sur le plan astral en effectuant une
              Action Complexe. Retourner à son corps physique nécessite également une Action Complexe. Notez
              que une fois dans l'astral, maintenir la projection astrale ne nécessite pas d'action. Voir
              Projection astrale, p. 192.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Bannir un esprit
            </strong>
            <small>
              Un magicien peut tenter de bannir un esprit en effectuant une Action Complexe. Voir
              Bannissement, p. 188.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Lancer un sort
            </strong>
            <small>
              Un magicien peut lancer un sort en effectuant une Action Complexe. Voir Lancement de sorts, p. 182.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Effacer une signature astrale
            </strong>
            <small>
              Un magicien utilisant la perception astrale peut effectuer un nombre d'Actions Complexes
              égal à la Force d'une signature astrale pour l'effacer complètement. Voir Signatures Astrales
              p. 192.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Invoquer un esprit
            </strong>
            <small>
              Un magicien peut invoquer un esprit en effectuant une Action Complexe. Voir
              Invocation, p. 188.      
            </small>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>