<!-- Modal -->
<div class="modal fade" id="astral" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="astralLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="astralLabel">Combat Actions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Free Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Centering
            </strong>
            <small>
              An initiate may take a Centering action to focus himself and block out distrac-
              tions in order to better resist Drain. See Centering, p. 198.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Deactivate Focus
            </strong>
            <small>
              An Awakened character may deactivate a focus that is bound to him as a
              Free Action, turning the focus off. See Foci, p. 199.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Declare Counterspelling Protection
            </strong>
            <small>
              A magician who wishes to protect others with
              Counterspelling (p. 185) must spend a Free Action and declare it in advance (a magi-
              cian never needs to declare that he is using Counterspelling on himself ).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Drop Sustained Spell
            </strong>
            <small>
              A magician may drop a sustained spell as a Free Action. 
           </small>
          </li>
        </ul>
        <h3>Simple Actions</h3>
        <ul>
          <li>
            <strong class="text-{{ theme_color }}">
              Activate Focus
            </strong>
            <small>
              An Awakened character may take a Simple Action to activate a focus that is
              bonded to him. Note that activating a sustaining focus requires the magician to cast a
              spell and thus is a Complex Action. See Activation, p. 199.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Call Spirit
            </strong>
            <small>
              A magician can use a Simple Action to call forth a spirit that was previously
              conjured and placed on “standby.” See Conjuring, p. 186. More than one bound spirit
              may be called at once with the same Simple Action if they are all of the same type (fire
              spirits, for example). See Binding, p. 188.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Command a Spirit
            </strong>
            <small>
              Using a Simple Action, a magician may issue a command to a spirit
              under his control. More than one spirit may be commanded in this manner if they are
              all given the same command. See Conjuring, p. 186.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Dismiss Spirit
            </strong>
            <small>
              A magician can use a Simple Action to send a conjured spirit away on “stand-
              by.” See Conjuring, p. 186.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Shift Perception
            </strong>
            <small>
              : A Simple Action allows a magician to shift perception to or from astral
              space. Actual astral projection requires a Complex Action. See Astral Perception, p. 191.
            </small>
          </li>
        </ul>
        <h3>Complex Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Astral Projection
            </strong>
            <small>
              A magician may project his spirit onto the astral plane by taking a
              Complex Action. Returning to his physical body also takes a Complex Action. Note
              that once on the astral, maintaining astral projection does not require an action. See
              Astral Projection, p. 192.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Banish Spirit
            </strong>
            <small>
              A magician can attempt to banish a spirit by taking a Complex Action. See
              Banishing, p. 188.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Cast Spell
            </strong>
            <small>
              A magician may cast a spell by taking a Complex Action. See Spellcasting, p. 182.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Erase Astral Signature
            </strong>
            <small>
              A magician using astral perception may take a number of Complex
              Actions equal to the Force of an astral signature to erase it completely. See Astral
              Signatures, p. 192.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Summon Spirit
            </strong>
            <small>
              A magician may summon a spirit by taking a Complex Action. See
              Summoning, p. 188.      
            </small>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>