<!-- Modal -->
<div class="modal fade" id="edge" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edgeLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Dépenser l'Edge</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
            <li>
            Vous pouvez déclarer l'utilisation de l'Edge avant de lancer les dés pour un test (ou un intervalle
            de test étendu). Vous pouvez ajouter un nombre de dés supplémentaires égal à votre
            attribut Edge complet au pool de dés. Tous les dés (pas seulement les dés Edge) lancés lors de ce
            test sont soumis à la Règle des Six (p. 62), ce qui signifie que si vous lancez un 6, vous le comptez
            comme un succès et vous le relancez.
            </li>
            <li>
            Vous pouvez déclarer l'utilisation de l'Edge après avoir lancé les dés pour un test. Dans ce cas,
            vous pouvez lancer un nombre de dés supplémentaires égal à votre attribut Edge complet et ajouter
            their hits to the test’s total. The Rule of Six (p. 62), however, applies only to the
            dés Edge supplémentaires lancés, et non au pool de dés original.
            </li>
            <li>
            Vous pouvez relancer tous les dés d'un test unique qui n'a pas obtenu de succès.
            </li>
            <li>
            Vous pouvez effectuer un test de Coup de Chance (p. 61) même si votre pool de dés a été réduit à 0
            ou moins ; lancez uniquement vos dés Edge pour ce test (la Règle des Six ne s'applique pas).
            </li>
            <li>
            Vous pouvez passer en premier lors d'une Passe d'Initiative, indépendamment de votre Score d'Initiative (voir
            Initiative et Edge, p. 145). Si plusieurs personnages dépensent de l'Edge pour passer en premier lors de la
            même passe, ces personnages passent dans l'ordre selon leurs Scores d'Initiative en premier,
            puis tout le monde passe selon leurs Scores d'Initiative.
            </li>
            <li>
            Vous pouvez obtenir 1 Passe d'Initiative supplémentaire pour ce Tour de Combat uniquement (voir Initiative
            et Edge, p. 145).
            </li>
            <li>
            Vous pouvez annuler les effets d'un raté ou d'un raté critique.
            </li>
            <li>Vous pouvez invoquer la règle du déclencheur du Mort (p. 163).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>