<!-- Modal -->
<div class="modal fade" id="edge" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="edgeLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Spending edge</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <ul>
            <li>
            You may declare the use of Edge before rolling for any one test (or one interval
            roll on an Extended Test). You may add a number of extra dice equal to your
            full Edge attribute to the dice pool. All dice (not just Edge dice) rolled on this
            test are subject to the Rule of Six (p. 62), meaning that if you roll a 6, you count
            it as a hit and roll it again.
            </li>
            <li>
            You may declare the use of Edge after you have rolled for one test. In this case,
            you may roll a number of extra dice equal to your full Edge attribute and add
            their hits to the test’s total. The Rule of Six (p. 62), however, applies only to the
            additional Edge dice rolled, not the original dice pool.
            </li>
            <li>
            You may re-roll all of the dice on a single test that did not score a hit.
            </li>
            <li>
            You may make a Long Shot Test (p. 61) even if your dice pool was reduced to 0
            or less; roll only your Edge dice for this test (the Rule of Six does not apply).
            </li>
            <li>
            You may go first in an Initiative Pass, regardless of your Initiative Score (see
            Initiative and Edge, p. 145). If multiple characters spend Edge to go first in the
            same pass, those characters go in order according to their Initiative Scores first,
            then everyone else goes according to their Initiative Scores.
            </li>
            <li>
            You may gain 1 extra Initiative Pass for that Combat Turn only (see Initiative
            and Edge, p. 145).
            </li>
            <li>
            You may negate the effects of one glitch or critical glitch.
            </li>
            <li>You may invoke the Dead Man’s trigger rule (p. 163).</li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>