<!-- Modal -->
<div class="modal fade" id="matrix" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="matrixLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="matrixLabel">Combat Actions</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <h3>Free Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Alter/Swap Icon (System)
            </strong>
            <small>
              You change a detail of an icon representing your persona or one of the
              programs, files, or nodes you own, or switch the icon to a pre-rendered
              icon you have stored.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Change Linked Device Mode (System)
            </strong>
            <small>
              You change the mode of a Matrix device that is linked to your persona
              either by a subscription or due to your access ID being trusted by the
              device. Mode changes include weapon firing modes (p. 147), on/off
              status, coffee maker settings, thermostat temperature, elevator floor,
              and the like.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Detect Active/Passive Wireless Nodes (System)
            </strong>
            <small>
              You automatically find all of the nodes within Signal range that are in
              Active or Passive mode.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Jack Out (System)
            </strong>
            <small>
              You disconnect from your persona. In AR, this is simply a matter of
              shutting down your interface. In VR, it means removing your connec-
              tion from your commlink, either by removing trodes, unplugging a data-
              jack, or shutting off a neural connection. Technomancers mentally sever
              their connection to the Matrix. If you jack out while in VR, you suffer
              dumpshock (p. 237). This requires a Complex Action and a successful
              test if your connection is jammed open by a black IC program (p. 237).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Switch Interface Mode (System)
            </strong>
            <small>
              You switch your perception from AR to VR or vice versa. Note that
              switching to VR causes your body to go limp, so do not do it in danger-
              ous places. If you switch from VR to AR, you might lose one or more
              Initiative Passes (p. 145). If your connection is jammed open by a black
              IC attack (p. 237), you cannot switch interface modes.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Terminate Data Transfer (System)
            </strong>
            <small>
              You terminate a data transfer you initiated. You may also terminate data
              transfers initiated by others if you have the appropriate access and per-
              missions on at least one of the nodes involved in the transfer (p. 225).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Transmit Phrase (System)
            </strong>
            <small>
              You speak or text a phrase as you would in the physical world (p. 146),
              only to one or more recipients over the Matrix. This may also be used
              to have an agent or device start or stop executing previously issued
              orders, such as having a drone launch an attack on a prearranged target
              or an autocooker start a pre-programmed dinner.
            </small>
          </li>
        </ul>
        <h3>Simple Actions</h3>
        <ul>
          <li>
            <strong class=text-{{ theme_color }}>
              Analyze Icon/Node (aNalyze)
            </strong>
            <small>
              You make a Matrix Perception Test, which is either a Simple or
              Opposed Computer + Analyze Test. This action is described in detail
              on p. 228.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Call/Dismiss a Sprite (Compiling)
            </strong>
            <small>
              You either call a previously compiled or registered sprite from the
              Resonance, or dismiss one of your sprites to wait in the Resonance
              until you call it (p. 239).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Deactivate Program (System)
            </strong>
            <small>
              You switch a program’s status from running to loaded. This action may
              also be used on an agent, in which case all of its running programs also
              stop running.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Decrypt (System)
            </strong>
            <small>
              If you have the key to a particular encryption, you decrypt it with this
              action. If you use this on a file, the file becomes decrypted. If you use
              this on a node or Matrix traffic, you may access the node or read the
              traffic, but it remains encrypted to others.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Encrypt (Encrypt)
            </strong>
            <small>
              You encrypt a file, set of files, node, or communication link. You also
              choose a passcode that you or another user can use to decrypt the file.
              You may encrypt multiple files together into a single archive file. You
              may also attach a data bomb (p. 233) to an encrypted file.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Issue Command (System)
            </strong>
            <small>
              You give a short list of commands to an agent, drone, or device that ac-
              cepts your access ID as authorized to do so (p. 225). You may send the list
              of commands to multiple recipients, but it must be the same list of com-
              mands; different commands require the use of another Simple Action.
              JUMp iNto a Drone/Vehicle/Device (System)
              You jump into a drone, vehicle, or device in VR. This action is de-
              scribed in detail in Jumping In, p. 245.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Log Off (System)
            </strong>
            <small>
              Your persona logs off of a node, severing the subscription and connec-
              tion to that node. You may also use this to gracefully disconnect from
              your persona while in VR, avoiding dumpshock. Note that black IC
              programs are capable of preventing you from logging off (p. 237).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Observe in Detail (System)
            </strong>
            <small>
              You look at one of the nodes to which your persona is connected (i.e.,
              one that it is “in”). This is different from the Analyze Node action
              because it concentrates on the sculpting of the node rather than its
              attributes. Unlike observing in the physical world, you automatically
              perceive all icons that are not running Stealth because they are cata-
              loged by your commlink.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Transfer Data (System)
            </strong>
            <small>
              You transfer a file or set of files from one node to another. Most trans-
              fers last until the end of the current Combat Turn; the connection
              speeds of the Matrix are fast enough that only files of truly epic size
              take longer than normal.
            </small>
          </li>
        </ul>
        <h3>Complex Actions</h3>
        <ul>
          <li>
            <strong class="text-{{ theme_color }}">
              Capture Wireless Signal (Sniffer)
            </strong>
            <small>
              You eavesdrop on wireless traffic going to and from a device. You must
              be within the device’s Signal range to capture the traffic. You must suc-
              ceed in an Electronic Warfare + Sniffer (3) test to start the capture,
              and then you may copy, record, or forward the traffic without another
              test as long as you remain within the target device’s Signal range and
              keep the Sniffer program running.
              There is no way for other parties to detect your capture (without
              access to your commlink, of course). If the traffic is encrypted, you
              must break the encryption before it can be captured.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Compile Sprite (Compiling)
            </strong>
            <small>
              You compile a sprite using the rules on p. 240.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Control Device (Command)
            </strong>
            <small>
              You control a device through the Matrix, using your Command pro-
              gram like a remote control or video game controller. The dice pool of
              any test you make using this action uses the rating of your Command
              program in place of the attribute you would use along with the ap-
              propriate skill as normal. For example, firing a drone-mounted rifle
              at a target would require a Longarms + Command test, and using
              a remote underwater welder would call for a Nautical Mechanic +
              Command test.
              Note that if the action to be performed is normally a Simple
              Action, performing it through the Control Device action is still a
              Complex Action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Crash Node (Exploit)
            </strong>
            <small>
              You crash a node (not a persona) that your icon is currently access-
              ing. Make a Hacking + Exploit (System + Firewall, Complex Action)
              Extended Test. When you reach the threshold, the node is crashed
              and reboots (p. 238). The node issues a restricted alert against the
              attacker when it is first attacked (which grants the node a +4 to
              Firewall among other effects listed on p. 238). Any users accessing
              the node via VR must resist Dumpshock when the node crashes, in-
              cluding the hacker.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Crash Program (Exploit)
            </strong>
            <small>
              You initiate an attack on a running program that is not an agent, per-
              sona, or other icon with a Condition Monitor. The target program
              must be running in the same node as your icon or run by an icon that is
              in the same node as your icon. Make an Opposed Hacking + Exploit vs.
              the target’s Firewall + System. If you succeed, you crash the program,
              which changes its status from running to loaded.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Data Search (Browse or other)
            </strong>
            <small>
              You search the Matrix for information about a topic. This is a Data
              Search + Browse Extended Test with a variable threshold and interval,
              depending on the general availability of the information in question
              and the “area” being searched, respectively. Some information is pro-
              tected and kept secret, stored in a node that is not accessible from the
              Matrix, and so cannot be found without accessing the nodes on which
              the data is hidden, although a Data Search might be made to find the
              location of the information.
              Not all Data Search actions use the Browse program. This action
              can be used on any large amount of data, such as a list of icons in a node,
              nodes in a Signal range, or network traffic. When using this action for
              these special searches, use the program that is used to collect the infor-
              mation through which you are searching. For example, use Data Search
              + Scan to find all of the wireless smartlinks in Signal range, or Data
              Search + Analyze to find all of the agents in a node, or Data Search +
              Sniffer to find a specific phrase in wireless traffic you have intercepted.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Decompile a Sprite (Decompiling)
            </strong>
            <small>
              You attempt to decompile a sprite, following the rules on p. 241.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Detect Hidden Node (Scan)
            </strong>
            <small>
              You attempt to locate a hidden node. You must be aware of the node,
              or at least have a good guess of where the device should be (for ex-
              ample, if your commlink is not detecting a node for Mr. Johnson but
              you are pretty sure he has a PAN, or when you can see the security
              drone but it is operating in Hidden mode). To find the node, make a
              Electronic Warfare + Scan (4) Test.
              You may instead make a general search for Hidden nodes that
              are within mutual Signal range. In this case, the test is an Electronic
              Warfare + Scan (15+, 1 Combat Turn) Extended Test, rather than a
              Complex Action.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Disarm Data Bomb (Disarm)
            </strong>
            <small>
              You attempt to disarm a data bomb that you have detected (usually with
              a Matrix Perception Test). Make an Opposed Test between your Hacking
              + Disarm and the Data Bomb Rating x 2. If you score any net hits, the
              data bomb is removed and deleted. If not, the data bomb activates, caus-
              ing its damage and possibly destroying any file to which it was attached.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Edit (Edit)
            </strong>
            <small>
              Edit allows you to create, change, or delete any kind of file. A Complex
              Action is required to alter one detail of a file: about a sentence of text
              or a detail of an image or about a second of video or audio (gamemas-
              ter’s discretion). This requires a successful Computer + Edit Test with
              a threshold set by the gamemaster using the Success Test Difficulties
              Table (p. 62) based on the extent, quality, and complexity of the edits
              being made. Continuous editing of a device’s output requires the
              expenditure of a Simple Action every Initiative Phase for the dura-
              tion. Note that controlling the device (via the Control Device action,
              p. 229) may allow you simple control similar to Edit (i.e., by freezing
              image capture at source or turning off audio reception).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Hack on the Fly (Exploit)
            </strong>
            <small>
              You attempt to create an account for yourself on another node. This is a
              Hacking + Exploit (target’s Firewall, Complex Action) Extended Test.
              When you reach the threshold, you gain an account on the target node.
              This process is described in more detail in Hacking the Matrix, p. 235.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Initiate Cryptanalysis (Decrypt)
            </strong>
            <small>
              You have your Decrypt program start working on an encryption to
              which you have access. Cryptanalysis is an Electronic Warfare +
              Decrypt (encryption rating x 2, 1 Combat Turn) Extended Test. When
              you reach the threshold, the encryption is broken. When you break the
              encryption of a file, the file becomes decrypted. When you use this on
              a node, you may access that node, but it remains encrypted to others.
              Once you have initiated cryptanalysis, your Decrypt program
              takes over and runs autonomously, using your Electronic Warfare skill
              rating. A running Decrypt program can only work on one encryp-
              tion at a time, but multiple Decrypt programs can work on different
              encryptions simultaneously; each Decrypt program makes its own
              Extended Test and cannot collaborate with other programs.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Intercept Traffic (Sniffer)
            </strong>
            <small>
              You intercept traffic between two nodes. To do this, you must have
              access to a node through which all of the traffic passes; if the traffic is
              being split between intermediate nodes (see Matrix Topology, p. 216),
              you cannot intercept it unless you have an icon in all nodes through
              which the traffic is routed. For the most part, this action is only effec-
              tive in a wired network, but it can apply to (mostly) wireless traffic if
              the number of nodes involved is sufficiently small.
              To eavesdrop on traffic, make a Hacking + Sniffer Test; the hits
              from this test are the threshold for others to detect the snooping with
              a Matrix Perception test. The traffic may be copied and recorded or for-
              warded to a third party with no additional tests. If you want to block
              or alter some of the traffic before sending it along, you must use the
              Edit action. To insert fake traffic, you must succeed in an Opposed Test
              between your Hacking + Sniffer and the recipient’s Firewall + System.
              If the traffic is encrypted, you must break the encryption before
              it can be intercepted.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Jam Signals (none)
            </strong>
            <small>
              You start a jamming device. You may choose any number of known
              devices to be excluded from the jamming when you initiate the jam-
              ming, and may change the list with another Jam Signals action. When
              the jammer is activated, every device with a Signal rating less than the
              rating of the jammer (with modifiers given in the description of the
              jammer, p. 330) are jammed and lose wireless connectivity. Note that
              a device running an ECCM program adds the rating of that program
              to its Signal for purposes of countering jamming.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Log On (System)
            </strong>
            <small>
              You open a subscription to a node, and your icon appears there. This
              requires no test, but does require either the proper authentication to an
              account (such as a passcode) or a hacked account. You also need a con-
              nection to the node’s device, either with a wired connection or a wireless
              connection (by being within mutual Signal range or establishing a route
              across multiple devices).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Matrix Attack (Attack, Black Hammer, Blackout)
            </strong>
            <small>
              You make an attack against another icon in a node where your icon
              currently exists. You may only make attacks against targets with a
              Condition Monitor: agents, IC, and other persona icons. This action
              is described in more detail in Cybercombat (p. 236).
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Reboot (System)
            </strong>
            <small>
              You initiate a reboot of a device with a Complex Action. You must have
              the appropriate privileges to do so (usually an admin account) and you
              must make a System + Response (10, 1 Combat Turn) Extended Test.
              When enough hits are achieved, all programs stop running and all sub-
              scriptions are terminated and anyone who is still running their persona
              on the device is severed from the Matrix, suffering dumpshock (p.237)
              if they are in VR. The restarting the system takes a number of Combat
              Turns equal to the device’s System (or Device Rating).The device then
              reboots itself by making a System + Response (10, 1 Combat Turn)
              Extended Test. The device creates no node after the initiation of a
              reboot until it reaches the threshold of the Extended Test.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Redirect Trace (Spoof)
            </strong>
            <small>
              You muddle your active datatrail against an active tracking attempt,
              making it harder for a running Track program to find your persona’s
              node. Make an Opposed Hacking + Spoof vs. the tracking icon’s
              Computer + Track; the number of net hits from this test are added
              to the threshold that the tracking icon needs. You may take this action
              multiple times against the same target. This action only works against
              a tracking attempt in progress.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Repair Icon (Medic)
            </strong>
            <small>
              You heal the Matrix Damage that a persona, agent, or IC icon has
              suffered. Make a Computer + Medic (damage taken x 2, Complex
              Action) Extended Test. When the threshold is reached, all damage is
              removed from the target icon. Note that it is possible for the threshold
              to change during the Extended Test if the icon suffers further damage.
              This action only repairs Matrix Damage, and so cannot be used to
              heal technomancers.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Run Program (System)
            </strong>
            <small>
              You run a program, agent, or IC that is loaded in a device to which you
              have access and the appropriate privileges. This changes the program’s status
              from loaded to running. Programs must be running in order to be used.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Set Data Bomb (Data Bomb)
            </strong>
            <small>
              You set a data bomb in a file or node. When you do so, you must
              choose the rating for the data bomb (up to the rating of the Data
              Bomb program), whether or not it will delete the file or crash the
              node to which it is attached when activated as a secondary effect, and
              the passcode required to deactivate it. Data bombs may be attached to
              archives that are also protected by Encrypt programs.
              The way a data bomb triggers depends on whether it is attached
              to a file or a node: it activates when a file is accessed, or when an icon
              logs onto a node, respectively, without using the data bomb’s passcode.
              When a data bomb is triggered, it causes its rating in Matrix Damage to
              the icon that tripped it and performs its secondary effect (if any), and
              then is deleted. If the passcode is used, the data bomb does not activate
              and remains attached to the file or node.
              A data bomb can be detected with a Matrix Perception test
              (p. 228). If it has been detected, it may be defused with the Disarm
              Data Bomb action; a disarmed data bomb is deleted.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Spoof Command (Spoof)
            </strong>
            <small>
              You send a command to a device or agent, pretending it is from an
              authorized source. You must have an access ID from which the target
              accepts commands (usually by making a Matrix Perception test on the
              authorized source or by tracing its icon). To spoof a target, choose
              a command (per the Issue Command action, p. 229) and make an
              Opposed Test between your Hacking + Spoof and the target’s Pilot
              + Firewall (System + Firewall for peripheral devices); if you succeed,
              the target accepts the command as legitimate. Each Spoof Command
              action applies only to a single command; multiple commands require
              multiple Spoof Command attempts.
            </small>
          </li>
          <li>
            <strong class=text-{{ theme_color }}>
              Trace User (Track)
            </strong>
            <small>
              You trace an icon back to its originating node. This is a Computer +
              Track (10, Complex Action) Extended Test. The target may increase
              the threshold with the Redirect Trace action, and a Stealth program
              run by your target acts as a negative dice pool modifier.
              When you reach the threshold of the Extended Test, you have
              successfully traced the target, learning the target’s access ID and the
              location of the device housing the originating node (usually the user’s
              commlink). If the target is using a wired connection to the Matrix, you
              learn his exact location. If he is using a wireless connection, you have
              his location triangulated to within about 50 meters. As long as you
              keep your Track program running and the target remains connected
              to the Matrix, you may continue to monitor the target’s location. Black
              IC can make the trace easier.
              You can also use this action to trace a subscription to its other
              end. For example, you may trace the subscription from a drone to the
              rigger controlling it.
            </small>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <!--
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
        -->
      </div>
    </div>
  </div>
</div>