@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?1bbgj9');
    src:    url('fonts/icomoon.eot?1bbgj9#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?1bbgj9') format('truetype'),
        url('fonts/icomoon.woff?1bbgj9') format('woff'),
        url('fonts/icomoon.svg?1bbgj9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="sprawlwars-"], [class*=" sprawlwars-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sprawlwars-action:before {
    content: "\41";
}
.sprawlwars-surge:before {
    content: "\42";
}
.sprawlwars-stress:before {
    content: "\43";
}
.sprawlwars-threat:before {
    content: "\44";
}
.sprawlwars-dodge:before {
    content: "\45";
}
.sprawlwars-evade:before {
    content: "\46";
}
.sprawlwars-block:before {
    content: "\47";
}
.sprawlwars-damage:before {
    content: "\48";
}
.sprawlwars-tech:before {
    content: "\49";
}
.sprawlwars-insight:before {
    content: "\4a";
}
.sprawlwars-strenght:before {
    content: "\4b";
}
.sprawlwars-range:before {
    content: "\4f";
}
.sprawlwars-melee:before {
    content: "\50";
}
.sprawlwars-armor:before {
    content: "\52";
}
.sprawlwars-backpack:before {
    content: "\53";
}
.sprawlwars-empire:before {
    content: "\55";
}
.sprawlwars-rebel:before {
    content: "\56";
}
.sprawlwars-skum:before {
    content: "\57";
}
.sprawlwars-melee-weapon:before {
    content: "\61";
}
.sprawlwars-range-weapon:before {
    content: "\62";
}
.sprawlwars-magic:before {
    content: "\63";
}
.sprawlwars-matrice:before {
    content: "\64";
}
.sprawlwars-medicine:before {
    content: "\65";
}
.sprawlwars-cyberware:before {
    content: "\66";
}

