<!-- Section avec attributs et image -->
<div class="row">
    <!-- Image -->
    <div class="col-md-4 text-center">
{% include characters/infos/picture.html %}
    </div>
    <!-- Section Histoire -->
    <div class="col-md-8">
        <div>
{% include characters/infos/history.html %}
        </div>
        <div>
{% include characters/infos/counters.html %}
        </div>
    </div>
</div>

{% include characters/infos/contacts.html %}
{% include characters/infos/conditions.html %}
{% include characters/infos/edge.html %}
