<div class="container my-3">
  <div class="card">
    <div class="card-header bg-dark text-white">
      <h2 class="mb-0">{{ page.name }} ({{ page.race }})</h2>
      <p class="mb-0"><small>Lifestyle: {{ page.lifestyle }} | Role: {{ page.role.operational }} / {{ page.role.narrative }}</small></p>
    </div>
    <div class="card-body">
      <!-- Section avec attributs et image -->
      <div class="row">
        <!-- Attributs -->
        <div class="col-md-4">
          {% include variables.html %}

          
          {% include attributes.html %}

        <!-- Image -->
        <div class="col-md-4 text-center">
          {% if page.picture %}
            <img src="{{ page.picture }}" class="img-fluid rounded" alt="{{ page.name }}">
          {% endif %}
          {% include damage.html %}
        </div>

        {% include jets_courants.html %}

        <div class="row">
        {% include weapons.html %}
          <div class="col-3">
            <div class="col-12">
            <div class="card bg-secondary text-white mt-2">
              <div class="card-body p-2 text-center">
                <h6 class="card-title mb-1">Armure</h6>
                <p class="card-text mb-0"><strong>Impact:</strong> {{ page.armor.impact }}</p>
                <p class="card-text mb-0"><strong>Balistique:</strong> {{ page.armor.balistic }}</p>
                <p class="card-text mb-0"><strong>Astral:</strong> {{ page.armor.astral }}</p>
              </div>
            </div>
            </div>
            <div class="col-12">
            <div class="card mt-2">
              <div class="card-body p-2 text-center">
                <h6 class="card-title mb-1">Moniteur de condition</h6>
                <p class="card-text mb-0"><strong>Physique:</strong> {{ physic_condition }}</p>
                <p class="card-text mb-0"><strong>Mentale:</strong> {{ mental_condition }}</p>
              </div>
            </div>
            </div>
          </div>
        </div>
        {% include skills.html %}

        {% if page.matrix %}
        {% include programs.html %}
        {% endif %}

      <!-- Pouvoirs Adept -->
       {% if page.powers %}
      <h3 class="mt-3">Pouvoirs Adeptes</h3>
      <ul class="list-group mb-3">
        {% for power in page.powers %}
          <li class="list-group-item py-1"><strong>{{ power.name }}</strong> (Rating: {{ power.rating }}, Magie: {{ power.magic }})
          {{ power.description | markdownify }}
          </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% include cyberware.html %}
      {% include qualities.html %}

      <!-- Contacts -->
      <h3 class="mt-3">Contacts</h3>
      <ul class="list-group mb-3">
        {% for contact in page.contacts %}
          <li class="list-group-item py-1"><strong>{{ contact.name }}</strong> ({{ contact.type }}, Connection: {{ contact.connection }}, Loyalty: {{ contact.loyalty }})</li>
        {% endfor %}
      </ul>

      {% include gear.html %}
      {% include history.html %}
    </div>
  </div>
</div>
