{% include variables.html %}
<div class="character-sheet container my-3">
  <div class="card">
    <!-- Barre verticale droite pour le volet flottant -->
    <div class="sidebar-toggle">
      <div class="icon-sidebar">
        {% if page.cyberware %}
        <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Cyberware" data-tab="cyberware">
          <i class="fa-solid fa-microchip"></i>
          <span class="badge">{{ page.cyberware | size }}</span>
        </div>
        {% endif %}
        
        {% if page.powers %}
        <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Pouvoirs" data-tab="powers">
          <i class="fa-solid fa-yin-yang"></i>
          <span class="badge">{{ page.powers | size }}</span>
        </div>
        {% endif %}
        
        {% if page.qualities %}
        <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Qualités" data-tab="qualities">
          <i class="fas fa-star"></i>
          <span class="badge">{{ page.qualities | size }}</span>
        </div>
        {% endif %}
        
        {% if page.gear %}
        <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Équipement" data-tab="gear">
          <i class="fa-solid fa-briefcase"></i>
          <span class="badge">
            {% assign gear_count = 0 %}
            {% for group in page.gear %}
              {% for item in group[1] %}
                {% assign gear_count = gear_count | plus: 1 %}
                {% if item.quantity %}
                  {% assign gear_count = gear_count | plus: item.quantity | minus: 1 %}
                {% endif %}
              {% endfor %}
            {% endfor %}
            {{ gear_count }}
          </span>
        </div>
        {% endif %}
      </div>
    </div>
    
    <!-- Volet flottant - Utilisation du composant Offcanvas de Bootstrap -->
    <div class="offcanvas offcanvas-end" tabindex="-1" id="floatingPanel" aria-labelledby="floatingPanelLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="floatingPanelLabel"><i class="fas fa-info-circle"></i> Informations supplémentaires</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="panel-tabs">
          <ul class="nav nav-tabs" id="panelTabs" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="cyberware-tab" data-bs-toggle="tab" data-bs-target="#cyberware" type="button" role="tab" title="Cyberware"><i class="fa-solid fa-microchip"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="powers-tab" data-bs-toggle="tab" data-bs-target="#powers" type="button" role="tab" title="Pouvoirs"><i class="fa-solid fa-yin-yang"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="qualities-tab" data-bs-toggle="tab" data-bs-target="#qualities" type="button" role="tab" title="Qualités"><i class="fas fa-star"></i></button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="gear-tab" data-bs-toggle="tab" data-bs-target="#gear" type="button" role="tab" title="Équipement"><i class="fa-solid fa-briefcase"></i></button>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="panelTabsContent">
          <div class="tab-pane fade show active" id="cyberware" role="tabpanel">
            {% if page.cyberware %}
              <div class="table-responsive">
                <table class="table table-sm table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Nom</th>
                      <th class="text-center">Type</th>
                      <th class="text-center">Essence</th>
                      <th class="text-center">Capacity</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for ware in page.cyberware %}
                    <tr>
                      <td>{{ ware.name }}</td>
                      <td class="text-center">{{ ware.type }}</td>
                      <td class="text-center">{{ ware.essence }}</td>
                      <td class="text-center">[{{ ware.capacity }}]</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Aucun cyberware</p>
            {% endif %}
          </div>
          <div class="tab-pane fade" id="powers" role="tabpanel">
            {% if page.powers %}
              <ul class="list-group">
                {% for power in page.powers %}
                <li class="list-group-item py-1">
                  <strong>{{ power.name }}</strong> (Rating: {{ power.rating }}, Magie: {{ power.magic }})
                  {{ power.description | markdownify }}
                </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Aucun pouvoir</p>
            {% endif %}
          </div>
          <div class="tab-pane fade" id="qualities" role="tabpanel">
            {% if page.qualities %}
              <h5>Qualités</h5>
              <ul class="list-group">
                {% for quality in page.qualities %}
                <li class="list-group-item py-1">
                  <span data-bs-toggle="tooltip" data-bs-title="{{quality.sourcebook}} (p. {{quality.page}})">
                    <strong>{{ quality.name }}</strong>
                  </span> (Rating: {{ quality.rating }}, {{ quality.bp }} BP)
                  {{ quality.description | markdownify }}
                </li>
                {% endfor %}
              </ul>
            {% else %}
              <p>Aucune qualité</p>
            {% endif %}
          </div>
          <div class="tab-pane fade" id="gear" role="tabpanel">
            {% assign gear_cost = 0 %}
            {% for group in page.gear %}
              {% for item in group[1] %}
                {% assign multiplier = 1 %}
                {% if item.quantity %}
                  {% assign multiplier = item.quantity %}
                {% endif %}
                {% assign item_cost = item.price | times: multiplier %}
                {% assign gear_cost = gear_cost | plus: item_cost %}
              {% endfor %}
            {% endfor %}
            
            <h5>Équipement [{{ gear_cost}} ¥]</h5>
            <ul class="list-group">
              {% for group in page.gear %}
                {% for item in group[1] %}
                <li class="list-group-item py-1">
                  <strong>{{ item.name }}</strong> ({% if item.quantity %} x {{ item.quantity }}, {% endif %}{{ item.price }}¥)
                  <ul class="list-unstyled">
                    {% if item.damage %}<li class="ps-4">Dégâts: {{ item.damage.description }}</li>{% endif %}
                    {% if item.impact %}<li class="ps-4">Impact: {{ item.impact }}</li>{% endif %}
                    {% if item.balistic %}<li class="ps-4">Balistic: {{ item.balistic }}</li>{% endif %}
                  </ul>
                </li>
                {% endfor %}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="card-header">
      <h2 class="mb-0">{{ page.full_name }} ({{ page.race }})</h2>
      <p class="mb-0"><small>Lifestyle: {{ page.lifestyle }} | Role: {{ page.role.operational }} / {{ page.role.narrative }}</small></p>
    </div>
    <div class="card-body">
      <!-- Section avec attributs et image -->
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="position-relative">
            {% if page.infos.picture %}
              <a href="#" data-bs-toggle="modal" data-bs-target="#historyModal">
                <img src="{{ page.infos.picture }}" class="img-fluid rounded" alt="{{ page.full_name }}">
              </a>
            {% endif %}
            <div class="position-absolute text-start top-0 start-0 text-white p-2 bg-dark bg-opacity-50 rounded">
              <ul class="list-unstyled">
                <li><small>Taille: {{ page.infos.height }} m</small></li>
                <li><small>Poids: {{ page.infos.weight }} kgs</small></li>
                <li><small>Argent: {{ page.infos.money }} ¥</small></li>
                <li><small>Karma: {{ page.infos.karma }}</small></li>
                <li><small>Street Cred: {{ page.infos.street_cred }}</small></li>
                <li><small>Notoriety: {{ page.infos.notoriety }}</small></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div>{% include history.html %}</div>
          <div>
                <div class="col-12">
          <!-- Magie/Edge/Essence -->
          <div class="row">
            <div class="col-4 col-lg-2 mt-2">
            {% if page.magic %}
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Magie</small></span>
                  <p class="card-text mb-0">{{ page.magic.base }}</p>
                </div>
              </div>
            {% endif %}
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card" data-bs-toggle="modal" data-bs-target="#edge">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Edge</small></span>
                  <p class="card-text mb-0">{{ page.edge.base }}</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Essence</small></span>
                  <p class="card-text mb-0">{{ page.essence.base | minus: cyberware_essence }}</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Physique</small></span>
                  <p class="card-text mb-0">{{ physic_condition }} <small>/{{ page.wound.physic }}</small></p>
                </div>
              </div>
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Mentale</small></span>
                  <p class="card-text mb-0">{{ mental_condition }} <small>/{{ page.wound.mental }}</small></p>
                </div>
              </div>
            </div>
          </div>
    </div>

          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-6">
          {% include attributes.html %}
        </div>
        <div class="col-lg-4 col-md-6">
        {% include jets_courants.html %}
        </div>
      </div>
      

      {% include skills.html %}

      {% if page.matrix %}
        {% include programs.html %}
      {% endif %}



      <!-- Contacts -->
      {% include contacts.html %}
      {% include modals/edge.html %}
      {% include modals/actions.html %}
      {% include modals/matrix_actions.html %}
      {% include modals/astral_actions.html %}
      {% include modals/skills.html %}
    </div>
  </div>
</div>
