{% include variables.html %}
<div class="container my-3">
  <div class="card">
    <div class="card-header bg-success">
      <h2 class="mb-0">{{ page.name }} ({{ page.race }})</h2>
      <p class="mb-0"><small>Lifestyle: {{ page.lifestyle }} | Role: {{ page.role.operational }} / {{ page.role.narrative }}</small></p>
    </div>
    <div class="card-body">
      <!-- Section avec attributs et image -->
      <div class="row">
        <div class="col-md-4 text-center">
          {% if page.picture %}
            <img src="{{ page.picture }}" class="img-fluid rounded" alt="{{ page.name }}">
          {% endif %}
        </div>
        <div class="col-md-8">
          <div>{% include history.html %}</div>
          <div>
                <div class="col-12">
          <!-- Magie/Edge/Essence -->
          <div class="row">
            <div class="col-4 col-lg-2 mt-2">
            {% if page.magic %}
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Magie</small></span>
                  <p class="card-text mb-0">{{ page.magic.base }}</p>
                </div>
              </div>
            {% endif %}
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Edge</small></span>
                  <p class="card-text mb-0">{{ page.edge.base }}</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Essence</small></span>
                  <p class="card-text mb-0">{{ page.essence.base | minus: cyberware_essence }}</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Physique</small></span>
                  <p class="card-text mb-0">{{ physic_condition }}</p>
                </div>
              </div>
            </div>
            <div class="col-4 col-lg-2 mt-2">
              <div class="card">
                <div class="card-body p-2 text-center">
                  <span class="card-title mb-1"><small>Mentale</small></span>
                  <p class="card-text mb-0">{{ mental_condition }}</p>
                </div>
              </div>
            </div>
          </div>
    </div>

          </div>
          </div>
      </div>
      <div class="row">
        <div class="col-lg-8">
          {% include attributes.html %}
        </div>
        <div class="col-lg-4">
        {% include jets_courants.html %}
        </div>
      </div>
      {% include skills.html %}

      {% if page.matrix %}
        {% include programs.html %}
      {% endif %}

      <!-- Pouvoirs Adept -->
       {% if page.powers %}
      <h3 class="mt-3">Pouvoirs Adeptes</h3>
      <ul class="list-group mb-3">
        {% for power in page.powers %}
          <li class="list-group-item py-1"><strong>{{ power.name }}</strong> (Rating: {{ power.rating }}, Magie: {{ power.magic }})
          {{ power.description | markdownify }}
          </li>
        {% endfor %}
      </ul>
      {% endif %}

      {% include cyberware.html %}
      {% include qualities.html %}

      <!-- Contacts -->
      <h3 class="mt-3">Contacts</h3>
      <ul class="list-group mb-3">
        {% for contact in page.contacts %}
          <li class="list-group-item py-1"><strong>{{ contact.name }}</strong> ({{ contact.type }}, Connection: {{ contact.connection }}, Loyalty: {{ contact.loyalty }})</li>
        {% endfor %}
      </ul>

      {% include gear.html %}
    </div>
  </div>
</div>
