      <div class="col-12">
        <div class="col-12 text-center rounded bg-info text-white">Dégats</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Corps à Corps</strong>
            <span><strong>{{ strength_total | divided_by: 2.0 | round | plus: melee_damage }}</strong> <small>(Str. /2 + Weapon)</small></span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ logic_total | plus: attaque_matrice_skill }}</strong> <small>(Cybercombat + Software)</small></span>
          </li>
          {% endif %}
          {% if page.magic %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Astral</strong>
            <span><strong>{{ willpower_total | plus: page.magic.weapon_focus }}</strong> <small>(Willpower + Weapon focus)</small></span>
          </li>
          {% endif %}
        </ul>
        <div class="col-12 text-center rounded bg-info text-white">Résistance</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Distance</strong>
            <span><strong>{{ body_total | plus: page.armor.balistic }}</strong> <small>(Body + Balistic)</small></span>
          </li>
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Corps à Corps</strong>
            <span><strong>{{ body_total | plus: page.armor.impact }}</strong> <small>(Body + Impact)</small></span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ page.matrix.commlink.system | plus: page.matrix.programs.hacking.armor.rating }}</strong> <small>(System + Armor)</small></span>
          </li>
          {% endif %}
          {% if page.magic %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Astral</strong>
            <span><strong>{{ body_total | plus: willpower_total }}</strong> <small>(Body + Willpower)</small></span>
          </li>
          {% endif %}
        </ul>
      </div>
        <div class="col-12 text-center rounded bg-info text-white">Armure</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Impact</strong>
            <span><strong>{{ body_total | plus: page.armor.balistic }}</strong> <small>(Body + Balistic)</small></span>
          </li>
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Balistic</strong>
            <span><strong>{{ body_total | plus: page.armor.impact }}</strong> <small>(Body + Impact)</small></span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ page.matrix.commlink.system | plus: page.matrix.programs.hacking.armor.rating }}</strong> <small>(System + Armor)</small></span>
          </li>
          {% endif %}
        </ul>
        
