{% assign gear_cost = 0 %}
{% for group in page.gear %}
    {% for item in group[1] %}
        {% assign multiplier = 1 %}
        {% if item.quantity %}
            {% assign multiplier = item.quantity %}
        {% endif %}
        {% assign item_cost = item.price | times: multiplier %}
        {% assign gear_cost = gear_cost | plus: item_cost %}
    {% endfor %}
{% endfor %}

<!-- Équipement -->
<h3 class="mt-3">Équipement [{{ gear_cost}} ¥]</h3>
<ul class="list-group">
{% for group in page.gear %}
    {% for item in group[1] %}
    <li class="list-group-item py-1">
    <strong>{{ item.name }}</strong> ({% if item.quantity %} x {{ item.quantity }}, {% endif %}{{ item.price }}¥)
    <ul class="list-unstyled">
    {% if item.damage %}<li class="ps-4">Dégâts: {{ item.damage.description }}</li>{% endif %}
    {% if item.impact %}<li class="ps-4">Impact: {{ item.impact }}</li>{% endif %}
    {% if item.balistic %}<li class="ps-4">Balistic: {{ item.balistic }}</li>{% endif %}
    </ul>
    </p>
    </li>
    {% endfor %}
{% endfor %}
</ul>
