
<!-- Jets de dés courants -->
  <div class="row">
  <!-- Initiative -->
    <div class="col-12 mb-2 mt-2">
      <div class="col-12 mb-2">
        <!-- Initiative -->  
        <div class="col-12 text-center rounded bg-{{ theme_color }}">Initiative</div>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center"  data-bs-toggle="modal" data-bs-target="#actions">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Physique</strong>
                <span><strong>{{ physical_initiative | plus: page.initiative.physic.modifier }}</strong> <small>(Réaction + Intuition)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small> {{ page.initiative.physic.turns }} passe d'initiative</small></span>
              </li>
            </ul>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center"  data-bs-toggle="modal" data-bs-target="#matrix">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Matrice</strong>
                <span><strong> {{ matrix_initiative | plus: page.initiative.matrix.modifier  }}</strong> <small>(Réponse + Intuition)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small> {{ page.initiative.matrix.turns }} passe d'initiative</small></span>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if page.magic %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center"  data-bs-toggle="modal" data-bs-target="#astral">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Astrale</strong>
                <span><strong>{{ astral_initiative }}</strong> <small>(Intuition * 2)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small>3 passe d'initiative</small></span>
              </li>
            </ul>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Attaque -->
      <div class="col-12 mb-2">
        <div class="col-12 text-center rounded bg-{{ theme_color }}">Attaque</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
            <strong>Distance</strong>
            <span><strong>{{ agility_total | plus: highest_range }}</strong> <small>(Agility + Skill)</small></span></li>
            </ul>
          </li>
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Mélée</strong>
            <span><strong>{{ agility_total | plus: highest_melee }}</strong> <small>(Agility + Skill)</small></span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ page.skills.active.cracking.cybercombat.value | plus: highest_matrix }}</strong> <small>(Cybercombat + Software)</small></span>
          </li>
          {% endif %}
          {% if page.magic %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Astral</strong>
            <span><strong>{{ page.skills.active.ungrouped.astral_combat.value | plus: willpower_total | plus: page.magic.weapon_focus }}</strong> <small>(Astral Com. + Wil. + Focus)</small></span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Défense -->
    <div class="col-12 mb-2">
      <div class="col-12 text-center rounded bg-{{ theme_color }}">Défense</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
          <ul class="list-unstyled col-12">
            <li class="py-1 d-flex justify-content-between align-items-center">
          <strong>Distance</strong>
          <span><strong>{{ reaction_total }}</strong> <small>(Reaction)</small></span></li>
          </ul>
        </li>
        <li class="list-group-item my-1 d-flex justify-content-between align-items-center">
          <strong>Mélée</strong>
          <span><strong>{{ reaction_total | plus: highest_melee }}</strong> <small>(Reaction + Skill)</small></span>
        </li>
        {% if page.matrix %}
          <li class="list-group-item my-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ page.matrix.commlink.response | plus: page.matrix.commlink.firewall }}</strong> <small>(Response + Firewall)</small></span>
          </li>
        {% endif %}
      </ul>
    </div>
      
