{% assign dodge = 0 %}
{% for skill in page.skills.active.ungrouped %}
  {% if skill.name == 'Dodge' %}
    {% assign dodge = skill.value %}
  {% endif %}
{% endfor %}
{% assign close_combat_skill = 0 %}
{% for skill in page.skills.active.close_combat %}
  {% if skill.value > close_combat_skill %}
    {% assign close_combat_skill = skill.value %}
  {% endif %}
{% endfor %}
{% assign range_skill = 0 %}
{% for skill in page.skills.active.firearms %}
  {% if skill.value > range_skill %}
    {% assign range_skill = skill.value %}
  {% endif %}
{% endfor %}
{% for skill in page.skills.active.ungrouped %}
  {% if skill.type == 'range' %}
    {% if skill.value > range_skill %}
      {% assign range_skill = skill.value %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign = initiative_matrice = intuition_total |plus: response_total %}
{% assign = initiative_astrale = intuition_total | times: 2 %}
{% assign attaque_matrice_skill = page.skills.active.cracking.cybercombat.value %}

<!-- Jets de dés courants -->
<div class="col-md-4">
  <div class="row">

  <!-- Initiative -->
    <div class="col-12 mb-2">
      <div class="col-12 mb-2">
        <!-- Initiative -->  
        <div class="col-12 text-center rounded bg-info text-white">Initiative</div>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Physique</strong>
                <span><strong>{{ initiative }}</strong> <small>(Réaction + Intuition)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small> {{ page.turns }} passe d'initiative</small></span>
              </li>
            </ul>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Matrice</strong>
                <span><strong> {{ initiative_matrice |plus: page.matrix.commlink.response }}</strong> <small>(Réponse + Intuition)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small> {{ page.matrix.turns }} passe d'initiative</small></span>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if page.magic %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Astrale</strong>
            <span><strong>{{ initiative_astrale }}</strong> <small>(Intuition * 2)</small></span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Attaque -->
      <div class="col-12 mb-2">
        <div class="col-12 text-center rounded bg-info text-white">Attaque</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
            <strong>Distance</strong>
            <span><strong>{{ agilite_total | plus: range_skill }}</strong> <small>(Agility + Skill)</small></span></li>
            </ul>
          </li>
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Corps à Corps</strong>
            <span><strong>{{ strength_total | plus: close_combat_skill }}</strong> <small>(Strenght + Skill)</small></span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ logic_total | plus: attaque_matrice_skill }}</strong> <small>(Cybercombat + Software)</small></span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Défense -->
    <div class="col-12 mb-2">
      <div class="col-12 text-center rounded bg-info text-white">Défense</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
          <ul class="list-unstyled col-12">
            <li class="py-1 d-flex justify-content-between align-items-center">
          <strong>Distance</strong>
          <span><strong>{{ reaction_total }}</strong> <small>(Reaction)</small></span></li>
          </ul>
        </li>
        <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
          <strong>Corps à Corps</strong>
          <span><strong>{{ reaction_total | plus: dodge }}</strong> <small>(Reaction + Dodge)</small></span>
        </li>
      </ul>
    </div>

  </div>
</div>
      
