
          <h6 class="mt-3"><strong>Commlink [{{ page.matrix.commlink.price }} (+{{programs_cost}}) ¥]</strong></h3>
          <ul class="list-group list-group-flush">
              <li class="list-group-item  py-1 d-flex justify-content-between align-items-center">
                <strong>Response</strong>
                <span><strong>{{ page.matrix.commlink.response }}</strong></span>
              </li>
              <li class="list-group-item  py-1 d-flex justify-content-between align-items-center">
                <strong>Signal</strong>
                <span><strong>{{ page.matrix.commlink.signal }}</strong></span>
              </li>
              <li class="list-group-item  py-1 d-flex justify-content-between align-items-center">
                <strong>Firewall</strong>
                <span><strong>{{ page.matrix.commlink.firewall }}</strong></span>
              </li>
              <li class="list-group-item  py-1 d-flex justify-content-between align-items-center">
                <strong>System</strong>
                <span><strong>{{ page.matrix.commlink.system }}</strong></span>
              </li>
          </ul>

          <h6 class="mt-3"><strong>Programmes</strong></h6>
          <ul class="list-group list-group-flush" id="matrix-programs">
            {% for group in page.matrix.programs %}
              {% if group[0] != "ungrouped" %}
                <li class="list-group-item">
                  <strong>{{ group[0] | replace: "_", " " | capitalize }}</strong>
                  <ul class="list-group list-group-flush ps-4">
                    {% for program in group[1] %}
                      {% if program[1].rating > 0 %}
                        <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
                          <span>{{ program[0] | replace: "_", " " | capitalize }} ({{ program[1].skill }})</span>
                          <span><strong>{{ program[1].rating }}</strong></span>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </li>
              {% endif %}
            {% endfor %}
          </ul>

        <h6 class="mt-3">Actions par Programme</h3>
          {% assign all_programs = "system,analyze,compiling,encrypt,decrypt,exploit,browse,scan,command,sniffer,disarm,edit,medic,decompiling,spoof,track,attack,black_hammer,blackout,data_bomb" | split: "," %}
          {% for program_name in all_programs %}
            {% assign character_has_program = false %}
            {% for program_group in page.matrix.programs %}
              {% assign programs = program_group[1] %}
              {% for program in programs %}
                {% if program[0] == program_name and program[1].rating > 0 %}
                  {% assign character_has_program = true %}

                {% endif %}
              {% endfor %}
            {% endfor %}

            {% if character_has_program %}

            {% assign matching_actions = site.data.matrix.free_actions | concat: site.data.matrix.simple_actions | concat: site.data.matrix.complex_actions | where_exp: "action", "action.program contains program_name" %}
            {% if matching_actions.size > 0 %}
              <ul class="list-group list-group-flush">
                {% for action in matching_actions %}
                <li class="py-1 d-flex justify-content-between align-items-center">
                  {{ action.name | replace: "_", " " }} <small>{{ program_name | replace: "_", " " | capitalize }}</small>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
            {% endif %}
          {% endfor %}
