  <h3 class="mt-3">Armure</h3>
  <ul class="list-group list-group-flush">
    <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
      <strong>Distance</strong>
      <span>
        <strong>{{ armor_natural_balistic }}</strong> 
        <small><em>({{ armor_natural_balistic | plus: balistic }})</em></small> 
        <small data-bs-toggle="tooltip" data-bs-title="Bod.({{ body }}) + Nat.({{ page.armor.balistic }}) + Bal.({{ balistic }})">Bod. + Nat. (+ Balistic)</small>
      </span>
    </li>
    <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
      <strong>Mélée</strong>
      <span>
        <strong>{{ armor_natural_impact }}</strong>
        <small><em>({{ armor_natural_impact | plus: impact }})</em></small> 
        <small data-bs-toggle="tooltip"  data-bs-title="Bod.({{ body }}) + Nat.({{ page.armor.impact }}) + Bal.({{ impact }})">Bod. + Nat. (+ Impact)</small>
      </span>
    </li>
    {% if page.matrix %}
    <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
      <strong>Matrice</strong>
      <span>
        <strong>{{ matrix_armor }}</strong>
        <small  data-bs-toggle="tooltip"  data-bs-title="Sys.({{ page.matrix.commlink.system }}) + Arm.({{ page.matrix.programs.hacking.armor.rating }}) + Bon.({{ matrix_armor }})">(Sys. + Arm. + Bon.)</small></span>
    </li>
    {% endif %}
    {% if page.magic %}
    <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
      <strong>Astral</strong>
      <span>
        <strong>{{ armor_natural_astral }}</strong>
        <small data-bs-toggle="tooltip"  data-bs-title="Bod.({{ body }})+ Wil.({{ willpower }}) + Astral({{ page.armor.astral }})">(Bod. + Wil. + Astral)</small></span>
    </li>
    {% endif %}
  </ul>
