
<!-- Jets de dés courants -->
  <div class="row">
  <!-- Initiative -->
    <div class="col-12 mb-2 mt-2">
      <div class="col-12 mb-2">
        <!-- Initiative -->  
        <h3 class="mt-3">Initiative</h3>
        <ul class="list-group list-group-flush ">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center"  data-bs-toggle="modal" data-bs-target="#actions">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Physique</strong>
                <span><strong>{{ physical_initiative }}</strong> 
                  <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="Réa.({{ reaction_total }}) + Int.({{ intuition_total }}) + Bon.({{ page.initiative.physic.bonus }})">(Réa. + Int. + Bon.)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small> {{ page.initiative.physic.turns | default: 1 }} passe d'initiative</small></span>
              </li>
            </ul>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center"  data-bs-toggle="modal" data-bs-target="#matrixAction">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Matrice</strong>
                <span><strong> {{ matrix_initiative | plus: page.initiative.matrix.bonus  }}</strong>
                   <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="Rép. + Int. + Bon.">(Rép. + Int. + Bon.)</small></span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small> {{ page.initiative.matrix.turns | default: 1 }} passe d'initiative</small></span>
              </li>
            </ul>
          </li>
          {% endif %}
          {% if page.magic.magician %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center"  data-bs-toggle="modal" data-bs-target="#astral">
            <ul class="list-unstyled col-12">
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong>Astrale</strong>
                <span>
                  <strong>{{ astral_initiative | default: 3 }}</strong>
                  <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="Int.({{ intuition_total }})">(Int. * 2)</small>
                </span>
              </li>
              <li class="py-1 d-flex justify-content-between align-items-center">
                <strong></strong>
                <span><small>3 passe d'initiative</small></span>
              </li>
            </ul>
          {% endif %}
        </ul>
      </div>
    </div>

    <!-- Attaque -->
      <div class="col-12 mb-2">
        <h3 class="mt-3">Attaque</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Distance</strong>
            <span><strong>{{ range_attack }}</strong>
               <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Agi. + Ski. + Bon.)</small></span>
          </li>
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Mélée</strong>
            <span><strong>{{ melee_attack }}</strong>
               <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Agi. + Ski. + Bon.)</small></span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span><strong>{{ matrix_attack }}</strong>
               <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Cybercombat + Soft. + Bon.)</small></span>
          </li>
          {% endif %}
          {% if page.magic %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Astral</strong>
            <span>
              <strong>{{ astral_attack }}</strong>
               <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Astral Com. + Wil. + Foc.)</small></span>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>

        <!-- Défense -->
      <div class="col-12 mb-2">
        <h3 class="mt-3">Défense</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Distance</strong>
            <span><strong>{{ range_defense }}</strong> <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Réa.)</small></span>
          </li>
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Mélée</strong>
            <span>
              <strong>{{ melee_defense }}</strong>
               <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Réa. + Ski.)</small>
            </span>
          </li>
          {% if page.matrix %}
          <li class="list-group-item py-1 d-flex justify-content-between align-items-center">
            <strong>Matrice</strong>
            <span>
              <strong>{{ matrix_defense }}</strong>
              <small data-bs-toggle="tooltip" data-bs-toggle="tooltip" data-bs-title="">(Rép. + Fir. + Bon.)</small>
            </span>
          </li>
          {% endif %}
        </ul>
      </div>
    
