{% assign have_melee = false %}
{% assign have_range = false %}
{% for weapon in page.gear.weapons %}
    {% if weapon.type contains 'melee' %}
        {% assign have_melee = true %}
    {% endif %}
    {% if weapon.type contains 'range' %}
        {% assign have_range = true %}
    {% endif %}
{% endfor %}
<div class="col-12 mt-2">
<h3 class="mt-3">Weapons</h3>
{% if have_melee %}
    <!-- Melee Weapon -->
    <div class="col-12">
        <table class="table table-sm table-striped ">
        <thead>
            <tr>
            <th scope="col"></th>
            <th class="text-center">Reach</th>
            <th class="text-center">Damage</th>
            <th class="text-center">AP</th>
            <th class="text-center">Availability</th>
            <th class="text-end">Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for gear in page.gear.weapons %}
                {% if gear.type contains 'melee' %}
                <tr>
                    <th scope="row" data-bs-toggle="tooltip" data-bs-title="{{gear.sourcebook}} (p. {{gear.page}})">{{ gear.name }}</th>
                    <td class="text-center">{{ gear.reach }}</td>
                    <td class="text-center"><small>{{ gear.damage.description }}
                    {% if gear.damage.bonus.melee %}
                            (+{{ gear.damage.bonus.melee }})
                    {% endif %}
                    </small></td>
                    <td class="text-center">{{ gear. ap}}</td>
                    <td class="text-center">{{ gear.availability }}</td>
                    <td class="text-end">{{ gear.price }} ¥</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}
{% if have_range %}
    <!-- Range Weapon -->
    <div class="d-none d-md-block">
        <table class="table table-sm table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th class="text-center">Damage</th>
            <th class="text-center">AP</th>
            <th class="text-center">Mode</th>
            <th class="text-center">RC</th>
            <th class="text-center">Ammo</th>
            <th class="text-center">Availability</th>
            <th class="text-end">Cost</th>
            </tr>
        </thead>
        <tbody>
            {% for gear in page.gear.weapons %}
                {% if gear.type contains 'range' %}
                <tr>
                    <th scope="row" data-bs-title="{{gear.sourcebook}} (p. {{gear.page}})">{{ gear.name }}</th>
                    <td class="text-center">
                        <small>
                        {{ gear.damage.description }}
                        {% if gear.damage.bonus.range %}
                            (+{{ gear.damage.bonus.range }})
                        {% endif %}
                        </small>
                    </td>
                    <td class="text-center">{{ gear.ap }}</td>
                    <td class="text-center">{{ gear.mode }}</td>
                    <td class="text-center">{{ gear.rc }}</td>
                    <td class="text-center">{{ gear.ammo }}</td>
                    <td class="text-center">{{ gear.availability }}</td>
                    <td class="text-end">{{ gear.price }} ¥</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
    <!-- Range Weapon (hide) -->
   <div class="d-md-none">
        <table class="table table-sm table-striped">
        <thead>
            <tr>
            <th scope="col"></th>
            <th class="text-center">Damage</th>
            <th class="text-center">AP</th>
            <th class="text-center">Mode</th>
            <th class="text-center">RC</th>
            <th class="text-center">Ammo</th>
            </tr>
        </thead>
        <tbody>
            {% for gear in page.gear.weapons %}
                {% if gear.type contains 'range' %}
                <tr>
                    <th scope="row" data-bs-title="{{gear.sourcebook}} (p. {{gear.page}})">{{ gear.name }}</th>
                    <td class="text-center">{{ gear.damage.description }}</td>
                    <td class="text-center">{{ gear.ap }}</td>
                    <td class="text-center">{{ gear.mode }}</td>
                    <td class="text-center">{{ gear.rc }}</td>
                    <td class="text-center">{{ gear.ammo }}</td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
{% endif %}
</div>
