<table class="table">
    <thread>
        <tr>
            <th></th>
            <th><span class="glyphicon glyphicon-heart" data-toggle="tooltip" data-placement="top" title="Health"></span></th>
            <th><span class="fa fa-heartbeat" data-toggle="tooltip" data-placement="top" title="Edurance"></span></th>
            <th><span class="fa fa-tachometer" data-toggle="tooltip" data-placement="top" title="Speed"></span></th>
            <th><span class="fa fa-shield" data-toggle="tooltip" data-placement="top" title="Defense"></span></th>
        </tr>
    </thread>
    <tbody>
        <tr>
            <td><span class="fa fa-users"></span></td>
            <td id="health" class="sr-text"></td>
            <td id="endurance" class="sr-text"></td>
            <td id="speed" class="sr-text"></td>
            <td id="defense"></td>
        </tr>
    </tbody>
</table>