<h5>
    <span class="">
        <i class="icon-gun" data-toggle="tooltip" data-placement="top" title="Gun"></i>
        <i class="fa fa-circle-thin" id="gun-bullet-0"></i>
        <i class="fa fa-circle-thin" id="gun-bullet-1"></i>
        <i class="fa fa-circle-thin" id="gun-bullet-2"></i>
        <i class="fa fa-circle-thin" id="gun-bullet-3"></i>
        <i class="fa fa-circle-thin" id="gun-bullet-4"></i>
    </span>
</h5>
<h5>
    <span class="">
        <i class="icon-target" data-toggle="tooltip" data-placement="top" title="Snipe Rifle"></i>
        <i class="fa fa-circle-thin" id="snipe-bullet-0"></i>
        <i class="fa fa-circle-thin" id="snipe-bullet-1"></i>
        <i class="fa fa-circle-thin" id="snipe-bullet-2"></i>
        <i class="fa fa-circle-thin" id="snipe-bullet-3"></i>
        <i class="fa fa-circle-thin" id="snipe-bullet-4"></i>
    </span>
</h5>
<h5>
    <span class="">
        <i class="icon-bullet" data-toggle="tooltip" data-placement="top" title="Heavy Weapon"></i>
        <i class="fa fa-circle-thin" id="heavy-weapon-bullet-0"></i>
        <i class="fa fa-circle-thin" id="heavy-weapon-bullet-1"></i>
        <i class="fa fa-circle-thin" id="heavy-weapon-bullet-2"></i>
        <i class="fa fa-circle-thin" id="heavy-weapon-bullet-3"></i>
        <i class="fa fa-circle-thin" id="heavy-weapon-bullet-4"></i>
    </span>
</h5>
<h5>
    <span class="">
        <i class="icon-network" data-toggle="tooltip" data-placement="top" title="Matrice"></i>
        <i class="fa fa-circle-thin" id="matrice-bullet-0"></i>
        <i class="fa fa-circle-thin" id="matrice-bullet-1"></i>
        <i class="fa fa-circle-thin" id="matrice-bullet-2"></i>
        <i class="fa fa-circle-thin" id="matrice-bullet-3"></i>
        <i class="fa fa-circle-thin" id="matrice-bullet-4"></i>
    </span>
</h5>
<h5>
    <span class="">
        <i class="icon-fire" data-toggle="tooltip" data-placement="top" title="Magic"></i>
        <i class="fa fa-circle-thin" id="magic-bullet-0"></i>
        <i class="fa fa-circle-thin" id="magic-bullet-1"></i>
        <i class="fa fa-circle-thin" id="magic-bullet-2"></i>
        <i class="fa fa-circle-thin" id="magic-bullet-3"></i>
        <i class="fa fa-circle-thin" id="magic-bullet-4"></i>
    </span>
</h5>