<div class="top-buffer">
    <div class="col-xs-7">
        {% include shadowrun-boardgame/character/image.html %}
    </div>
    <div class="col-xs-3">
        {% include shadowrun-boardgame/character/flavor.html %}
    </div>
    <div class="col-xs-2">
        <div class="row">
        {% include shadowrun-boardgame/character/proficiency.html %}
        {% include shadowrun-boardgame/character/skills.html %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <h3 class="name_box">
                 <span id="name" class="sr-text">Charactere Name</span> [ <span id="class" class="sr-text">Character class</span> ]
            </h3>
        </div>
        <div class="col-xs-6" id="attributes">
            <div class="panel panel-default transparent">
                <!--<div class="panel-body">-->
                    {% include shadowrun-boardgame/character/attributes.html %}
                <!--</div>-->
            </div>
        </div>
    </div>
</div>
