<div class="col-lg-12 col-xs-6">
    <div class="panel panel-default">
        <div class="panel-body">
            {% for skill in site.data.shadowrun-boardgame.skills.list %}
            <div>
                <i class="{{ skill.icon }}" data-toggle="tooltip" data-placement="top" title="{{ skill.name }}"></i>
                {% for i in (1..site.data.shadowrun-boardgame.skills.maximum) %}
                    <i class="icon-die-dice skill-dice" id="{{ skill.alias }}-dice-{{ i | minus: 1 }}"></i>{% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
