.top-buffer {
    margin-top:20px;
}

.title {
    font-weight: bold;
    color: white;
}

.category {
    color: white;
}

.proficiency {
    font-weight: bold;
    color: white;
}
.dices {
    margin-bottom: 0px;
}

.thumbnail {
    background-color: rgba(256, 256, 256, 0);
    border-width: 0px
}

