.top-buffer {
    margin-top:20px;
}

.effect {
    background-color: rgba(256, 256, 256, 0.6);
}

.title {
    font-weight: bold;
    color: white;
}

.proficiency {
    font-weight: bold;
    color: white;
}

.description {
    background-color: rgba(256, 256, 256, 0.6);
}

.dices {
    background-color: rgba(256, 256, 256, 0.6);
    margin-bottom: 0px;
}

.effects {
}

.footer {
    background-color: rgba(256, 256, 256, 0);
}

