.top-buffer {
    margin-top:20px;
}

.title {
    font-weight: bold;
    color: white !important;
}

.category {
    color: white !important;
    font-size : 14px;
}

.proficiency {
    color: white !important;
    font-size : 8px;
}
.dices {
    margin-bottom: 0px;
    float: right;
}

.proficiencies {
    float: right;
}
.thumbnail {
    background-color: rgba(256, 256, 256, 0);
    border-width: 0px;
    height:150px;
}

.footer {
//    position: relative;
//    bottom: 0px;
}
.description {
    max-height: 120px;
}

.card-sheet {
    font-size : 12px;
    height: 400px;
}

@media print {
body {
//    -webkit-print-color-adjust: exact;
}

.thumbnail {
    background-color: rgba(256, 256, 256, 0);
    border-width: 0px;
    max-height:70px;
}

.card-sheet {
    font-size: 5px;
    height: 240px;
}

.description {
    font-size: 5px;
}

.category {
    color: white;
    font-size: 5px;
}

.proficiency {
    color: white;
    font-size: 5px;
}

.dont-break {
    page-break-inside:avoid;
}

}
