
#image {
    width: 100%;
    height: 100%;
}


.thumbnail {
    background-color: rgba(256, 256, 256, 0.0) !important;
    border-width: 0px;
    height: 450px
}

.top-buffer {
    margin-top:20px;
}

.name_box {
    font-family: Herculanum;
}

.transparent {
    background-color: rgba(256, 256, 256, 0.6) !important;
}


@media print {
body {
    -webkit-print-color-adjust:exact;
    font-size: 5px;
}

.thumbnail {
    max-height:250px;
}

.proficiency {
    font-size: 5px;
}

}