<div class="sidebar-toggle">
  <div class="icon-sidebar">
    {% if page.cyberware %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Cyberware" data-tab="cyberware">
      <i class="fa-solid fa-robot"></i>
      <span class="badge">{{ page.cyberware | size }}</span>
    </div>
    {% endif %}
    
    {% if page.magic.adept.powers %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Pouvoirs" data-tab="powers">
      <i class="fa-solid fa-yin-yang"></i>
      <span class="badge">{{ page.magic.adept.powers | size }}</span>
    </div>
    {% endif %}
    
    {% if page.magic.magician.spells %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Sorts" data-tab="spells">
      <i class="fa-solid fa-wand-sparkles"></i>
      <span class="badge">{{ page.magic.magician.spells | size }}</span>
    </div>
    {% endif %}
    
    {% if page.qualities %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Qualités" data-tab="qualities">
      <i class="fas fa-angles-up"></i>
      <span class="badge">{{ page.qualities | size }}</span>
    </div>
    {% endif %}
    
    {% if page.matrix.commlink %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Commlink" data-tab="commlink">
      <i class="fa-solid fa-microchip"></i>
      <span class="badge">1</span>
    </div>
    {% endif %}
    
    {% if page.gear %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Équipement" data-tab="gear">
      <i class="fa-solid fa-briefcase"></i>
      <span class="badge">
        {% assign gear_count = 0 %}
        {% for group in page.gear %}
          {% for item in group[1] %}
            {% assign gear_count = gear_count | plus: 1 %}
            {% if item.quantity %}
              {% assign gear_count = gear_count | plus: item.quantity | minus: 1 %}
            {% endif %}
          {% endfor %}
        {% endfor %}
        {{ gear_count }}
      </span>
    </div>
    {% endif %}
    
    {% if page.gear.vehicule %}
    <div class="icon-wrapper" data-bs-toggle="offcanvas" data-bs-target="#floatingPanel" title="Véhicules" data-tab="vehicles">
      <i class="fa-solid fa-car"></i>
      <span class="badge">{{ page.gear.vehicule | size }}</span>
    </div>
    {% endif %}
  </div>
</div>