<div class="row">
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-2"><span class="fa fa-users"></span> <span id="unit">-</span></div>
                    <div class="col-xs-6" id="name">-</div>
                    <div class="col-xs-2"></div>
                </div>
            </div>
            <div class="thumbnail">
                <img src="/shadowrun-boardgame/images/default.jpg" alt="Knight Errant" id="image">
            </div>
            <div class="panel-body">
                <div class="col-xs-12 effects" id="effects">
                </div>
                <div class="row">
                    <div class="col-xs-12" id="descriptions">
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr/>
                </div>
                <div class="col-xs-12 skills row">
                    <div class="col-xs-6 skill">
                        <i class="fa fa-comment" data-toggle="tooltip" data-placement="top" title="Social"></i>:
                        <span id="social">-</span>
                        <span class="glyphicon glyphicon-flash"></span>
                    </div>
                    <div class="col-xs-6 skill">
                        <i class="glyphicon glyphicon-eye-close" data-toggle="tooltip" data-placement="top" title="Stealth"></i>:
                        <span id="stealth">-</span>
                        <span class="glyphicon glyphicon-flash"></span>
                    </div>
                    <div class="col-xs-6 skill">
                        <i class="fa fa-medkit" data-toggle="tooltip" data-placement="top" title="Medicine"></i>:
                        <span id="medicine"></span>
                        <span class="glyphicon glyphicon-flash"></span>
                    </div>
                    <div class="col-xs-6 skill">
                        <i class="fa fa-hand-rock-o fa-rotate-90" data-toggle="tooltip" data-placement="top" title="Strength"></i>:
                        <span id="strength">-</span>
                        <span class="glyphicon glyphicon-flash"></span>
                    </div>
                    <div class="col-xs-6 skill">
                        <i class="glyphicon glyphicon-eye-open" data-toggle="tooltip" data-placement="top" title="Intuition"></i>:
                        <span id="intuition">-</span>
                        <span class="glyphicon glyphicon-flash"></span>
                    </div>
                    <div class="col-xs-6 skill">
                        <i class="glyphicon glyphicon-wrench" data-toggle="tooltip" data-placement="top" title="Tech"></i>:
                        <span id="tech">-</span>
                        <span class="glyphicon glyphicon-flash"></span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <hr/>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-4"><span class="glyphicon glyphicon-heart"></span> <span id="health">3</span></div>
                    <div class="col-xs-4">
                        <span class="fa fa-shield"></span>
                        <span class="icon-die-dice defense-dice" id="def-dice-0">
                        <span class="icon-die-dice defense-dice" id="def-dice-1">
                    </div>
                    <div class="col-xs-4">
                        <span id="atk-type"></span>
                        <span class="icon-die-dice" id="atk-dice-2"></span>
                        <span class="icon-die-dice" id="atk-dice-1"></span>
                        <span class="icon-die-dice" id="atk-dice-0"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
