<html>
    {% include head.html %}
    <body>
        <div class="container-fluid">
            {% include navigation-bar.html %}
            <div class="container-fluid">
                <div class="container-fluid">
                    <div class="col-md-2 sidebar">
                        {% include cards/sidebar.html %}
                    </div>
                    <div class="col-md-10">
                        <div class="container-fluid" id="contents">
                            {% include cards/sheet.html %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>