
<html>
    {% include head.html %}
    <body>
        <div class="container-fluid">
            {% include navigation-bar.html %}
            <div class="container-fluid">

    <div class="container-fluid">
        <div class="col-md-2 sidebar">
            {% include character-sidebar.html %}
        </div>
        <div class="col-md-10">
            <div class="container-fluid" id="contents">
                {% include character/sheet.html %}
            </div>
            </div>
        </div>
    </body>
</html>