<html>
    <head>
        {% include common/head.html %}
    </head>
    <body>
        <div class="container-fluid">
            {% include common/navigation-bar.html %}
        </div>
        <div class="container-fluid jumbotron">
            <h3>
                <p>This site is a fan-site not use for any commercial activities.</p>
                <p>
                All images used on this site has been find with google search and crop to match the size we want. If you are a owner of
                one of this picture and want it to be dropped or any other request about your picture, please send me a <a href="mailto:guillaume.philippon@gmail.com">mail</a>
                </p>
            </h3>
        </div>
    </body>
</html>